<% content_for :sidebar do %>
    <%= render :partial => '/layouts/sidebar_discussion', :object => @participants, as: 'participants', locals: {:participants_follower => @participants_follower} %>
<% end %>

<div id="discussion-list" class="row clearfix">
  <header><h2>
    <%= truncate(@discussion.get_destination_names.join(", "), length: 70, omission: ' ...', separator: ' ') %>
  </h2></header>

  <%= render 'messages/form' %>

  <%= render @events %>

  <%= render @messages %>

</div><!-- #discussion-list -->