<div class="list-element">
  <%= link_to user.firstname + " " + user.lastname, user %>
  <% follow = (defined?(is_follower) and defined?(accepted) and !accepted and is_follower) ? "list-button accept-button" : "" %>

  <% unless !(defined?(can_email) and can_email) %>
      <% d = Discussion.new(users: [user]) %>
      <%= form_for(d) do |f| %>
          <% d.users.each do |user| %>
              <%= f.hidden_field :user_ids, :multiple => true, :value => user.id %>
          <% end %>
          <%= f.submit '', :class => ["list-button", "message-button"] %>
      <% end %>
  <% end %>

  <% unless follow.empty? %>
      <%= form_for(:promotion, :url => url_for(:controller => 'promotions', :action => 'accept')) do |f| %>
          <%= hidden_field_tag 'user', user.id %>
          <%= hidden_field_tag 'promotion', promotion.id %>
          <%= f.submit '', :class => follow %>
      <% end %>
  <% end %>

</div>

