<article class="event-item item">
  <p class="author-date"><strong>
    <% if defined?(hide_author_link) or event.user.promotions.size == 0%>
        <%= event.user.firstname + " " + event.user.lastname %>
    <% else %>
        <%= link_to event.user.firstname + " " + event.user.lastname, event.user %>
    <% end %>
  </strong> | <%= event.created_at.to_time.strftime('%e %B %Y at %H:%M')%></p>
  <p class="message">
    <strong><%= event.date.to_time.strftime('%e %B %Y %H:%M') %></strong><span> : </span> <%= event.name %><span> at </span> <%=event.location%>
  </p>
</article>
