<header class="col4"><h2>Sign in</h2></header>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="clearfix">
      <div>
        <%= f.label :email, class: 'hide' %>
        <%= f.email_field :email, class: "col4", placeholder: "Email", :autofocus => true, :autocomplete => 'off' %>
      </div>
      <div>
        <%= f.label :password, class: 'hide' %>
        <%= f.password_field :password, class: "col4", placeholder: "Password", :autocomplete => 'off' %>
      </div>
      <div>
        <%= f.submit 'Login', :id => "login-submit", class: "col4" %>
      </div>
    </div>
<% end %>

<%= render "devise/shared/links" %>
