<% class_content = 'list-element ' %>
<% if defined?(is_followed) and is_followed %>
    <% class_content += 'following-promotion ' %>
<% end %>
<% if defined?(selected_promotion) and selected_promotion %>
    <% class_content += 'main-promotion ' %>
<% end %>

<div class="<%= class_content %>">
  <%= link_to promotion.establishment.name + " | " + promotion.name, {controller: "home", action: "index", id: promotion.id}%>

  <% if defined?(is_followed) and is_followed %>
      <%= form_for(:promotion, :url => url_for(:controller => 'promotions', :action => 'leave')) do |f| %>
          <%= hidden_field_tag 'id', promotion.id %>
          <%= f.submit '', :class => "list-button leave-button" %>
      <% end %>
  <% end %>
</div>