<% content_for :sidebar do %>
<% end %>

<div id="content" class="col col9 last">
  <div id="discussion-list" class="row clearfix">
    <header><h2><%=@promotion.name%></h2></header>
    <% @students.each do |student| %>
        <article class="item list-element">
            <%= link_to student.firstname + " " + student.lastname, student%>
            <% if !Discussion.discussion_exists_between_2_users(current_user, student) %>
                <%= form_for(:discussion, :url => url_for(:controller => 'discussions', :action => 'create')) do |f| %>
                    <% [student.id, current_user.id].each do |u| %>
                        <%= hidden_field_tag 'users[]', u %>
                    <% end %>
                    <%= f.submit '', :class => ["list-button", "message-button"] %>
                <% end %>
            <% end %>
        </article>
    <% end %>
  </div>
</div>