<% content_for :sidebar do %>
<% end %>

<div id="content" class="col col9 last">
    <div id="discussion-list" class="row clearfix">
      <header><h2><%=@establishment.name%></h2></header>
  <% @establishment.promotions.each do |promotion| %>
    <article class="event-item item">
      <p class="message">
        <%= link_to promotion.name, promotion %>
        <% unless promotion.user_is_in(current_user) %>
            <%= form_for(:promotion, :url => url_for(:controller => 'promotions', :action => 'follow')) do |f| %>
                <%= hidden_field_tag 'id', promotion.id %>
                <%= f.submit 'Follow !' %>
            <% end %>
        <% end %>
      </p>
    </article>
  <% end %>
    </div>
</div>
