<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/iehacks' %>
</head>
<body>
<div id="site-container" class="contentcenter clearfix">

  <%= render 'layouts/header' %>

  <main id="site-page" class="clearfix">
    <div id="content" class="col col9 last">

      <%= render 'layouts/notifications' %>

      <%= yield %>
    </div>
    <div id="sidebar" class="col col3 first"><%=yield :sidebar%></div><!-- Do not put this on multilines, or it breacks .col:empty -->
  </main>

  <%= render 'layouts/footer' %>

</div>
</body>
</html>
